
@font-face {
    font-family: 'monument_extendedregular';
    src: url('fonts/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    /*background-color: rgb(218, 216, 216);*/
    background-image: url("img/header/PruebaFondo.png");
    margin: 0px;
    box-sizing: border-box;
    padding: 4rem 15rem 4rem 15rem;
}
.back{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(160px);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.22);
}
.estructure{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: 1fr 3fr 1fr;
}
*{
    font-family: 'monument_extendedregular';
}
/*ANIMACION*/
nav a {
    background-image: linear-gradient(
      to right,
      #000000,
      #000000 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:before{
    content: '';
    background: #000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a.navEnlace:hover {
   background-position: 0;
  }
  
  a.navEnlace:hover::before{
    width: 100%;
  }
.biggerCenter 
{
    transform:scale(1); transition:transform 0.2s linear; 
}
.biggerCenter:hover
{
  transform:translate(+0%, +0%) scale(1.1);
}
/*HEADER*/
header{
    grid-row: 1/2;
    grid-column: 1/-1;
    top: 0px;
    width: 100%;
    padding: 0rem 4rem 0rem 4rem;
    margin-bottom:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    margin: 0.7rem;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    margin-left: 3rem;
    padding: 0px;
}
nav > ul > li > a:hover{
    color: rgb(0, 0, 0);
}
.redes{
    font-size: 1.7rem;
}
.redes>a>i{
    cursor: pointer;
    color: black;
}
/*MAIN*/
main{
    grid-row: 2/3;
    grid-column: 1/-1; 
    margin-top: 5rem;
    text-align: center;
}
main section{
    width: 65%;
    margin: auto;
    margin-bottom: 15rem;
}
/*INICIO*/
section.inicio{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.desc{
    width: 65%;
}
.desc h2{
    font-size: 3.5rem;
}
.desc p{
    word-spacing: 0.3em;
    letter-spacing: 0.07em;
    font-size: 0.85rem;
}
.desc b{
    color: black;
}
.foto{
    width: 30%;
}
.foto img{
    width: 100%;
    filter: drop-shadow(-26px -2px 0px #c7be41);
    margin-top: 18rem;
}
/*LENGUAJES*/
section.competencias{
    width: 100%;
    background-color: rgb(189, 189, 170);
    padding: 10rem;
}
.todosLenguajes{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(172, 172, 151);
}
.lenguaje{
    width: 20%;
}
.lenguaje img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.lenguaje{
    margin: 2rem 0rem 2rem 0rem;
}
/*FOOTER*/
footer{
    grid-row: 3/4;
    grid-column: 1/-1;
    background-color: rgb(44, 41, 37);
}
/*MEDIA*/
/*Tablet*/
@media (min-width: 1000px) and (max-width: 1500px){
    body{
        padding: 1rem 4rem 1rem 4rem;
    }
    .desc h2{
        font-size: 3rem;
    }
    .desc h3{
        font-size: 1.5rem;
    }
    .desc p,.desc b{
        font-size: 0.85rem;
    }
    .foto img{
        margin-top: 23rem;
    }
    .redes{
        font-size: 1.2rem;
    }
    a.navEnlace{
        margin: 1rem;
    }
    nav img{
        width: 70%;
        object-fit: contain;
    }
}
/*Portrait*/
@media (min-width: 750px) and (max-width: 1000px){
    body{
        padding: 1rem 1rem 1rem 1rem;
    }
    main section{
        width: 85%;
    }
    a.navbar-brand{
        margin: 0px;
    }
    .desc h2{
        font-size: 2.3rem;
    }
    .desc h3{
        font-size: 1.2rem;
    }
    .desc p,.desc b{
        font-size: 0.85rem;
    }
    .redes{
        font-size: 1.1rem;
    }
    a.navEnlace{
        margin: 0.5rem;
        font-size: 0.9rem;
    }
    section.competencias{
        padding: 5rem;
    }
    .todosLenguajes{
        width: 70%;
    }
    nav img{
        width: 45%;
        object-fit: contain;
    }
}
@media (min-width: 550px) and (max-width: 750px){
    body{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    header{
        margin-bottom: 1rem;
    }
    main section{
        width: 85%;
    }
    a.navbar-brand{
        margin: 0px;
    }
    .desc h2{
        font-size: 2.6rem;
    }
    .desc h3{
        font-size: 1.5rem;
    }
    .desc p,.desc b{
        font-size: 0.85rem;
    }
    .redes{
        font-size: 1.1rem;
    }
    a.navEnlace{
        margin: 0.5rem;
        font-size: 0.9rem;
    }
    section.inicio{
        flex-wrap: wrap;
    }
    .desc{
        width: 80%;
        margin: auto;
    }
    .foto {
        width: 50%;
        margin: auto;
    }
    .foto img{
        margin-top: 3rem;
    }
    section.competencias{
        padding: 5rem;
    }
    .todosLenguajes{
        width: 70%;
    }
    nav img{
        width: 45%;
        object-fit: contain;
    }
    section.competencias{
        padding: 10rem 2rem 10rem 2rem;
    }
    .todosLenguajes{
        width: 95%;
    }
}
@media (max-width: 550px){
    body{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    header{
        margin-bottom: 1rem;
    }
    main section{
        width: 85%;
    }
    a.navbar-brand{
        margin: 0px;
    }
    .desc h2{
        font-size: 3;
    }
    .desc h3{
        font-size: 1.5rem;
    }
    .redes{
        font-size: 1.1rem;
    }
    a.navEnlace{
        margin: 0.5rem;
        font-size: 0.9rem;
    }
    section.inicio{
        flex-wrap: wrap;
    }
    .desc{
        width: fit-content;
        margin: auto;
        text-align: center;
    }
    .foto {
        width: 50%;
        margin: auto;
    }
    .foto img{
        margin-top: 1rem;
    }
    section.competencias{
        padding: 5rem;
    }
    .todosLenguajes{
        width: 70%;
    }
    nav img{
        width: 45%;
        object-fit: contain;
    }
    section.competencias{
        padding: 10rem 1rem 10rem 1rem;
    }
    .todosLenguajes{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        margin-top: 5rem;
    }
    .lenguaje{
        width: 50%;
    }
    .h2Movil{
        display: contents;
    }
    .h2PC{
        display: none;
    }
    .pPC{
        display: none;
    }
}

